/* Added fonts */
@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat-Regular.ttf);
}

/* Universal settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CircularStd;
    overflow: hidden;
}

/* Body background colour */
body {
    background-color: rgb(0, 101, 124);
    box-shadow: 0px -5px 5rem inset rgb(0 60 74 / 69%);
    height: 100vh;
}

/* Header container for logo */
.eventHdrContainer {
    display: flex;
    justify-content: center;
}

.eventHdrLogo {
    width: 11rem;
    height: 6rem;
    filter: drop-shadow(0 0 10px rgb(255, 244, 174));
}

/* Events center flexbox */
.eventMainContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* Events flexbox content */
.eventMainText {
    font-size: 11rem;
    font-weight: 450;
    white-space: nowrap;
    color: #FFF7E3;
    text-align: center;
}

.eventMainMessage {
    font-family: Caveat;
    font-size: 5rem;
    font-weight: 400;
    color: #FFF7E3;
    text-align: center;
    text-shadow: 0 0 15px rgb(255, 244, 174);
    line-height: 0.8;
}

.eventMainDescr {
    width: 20rem;
    align-self: center;
    font-size: 1rem;
    font-weight: 450;
    color: white;
    text-align: center;
}

.homeBtn {
    z-index: 1;
    padding: 1rem 2rem;
    align-self: center;
    text-align: center;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 101, 124);
    text-decoration: none;
    border-radius: 6.25rem;
}

/* Background illustrations grid */
.gridParent {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.bgGrid {
    position: absolute;
    display: grid;
    bottom: 0;
    right: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr) 3.2rem;
    justify-content: space-evenly;
    align-content: space-evenly;
    z-index: -2;
}

/* Background illustrations */
.bgIllu {
    width: 7rem;
    height: 5rem;
    opacity: 0.2;
    transform: rotate(-42deg);
}

.bgIllu_1 {
    grid-column-start: 6;
    grid-row-start: 10;
}

.bgIllu_2 {
    grid-column-start: 7;
    grid-row-start: 9;
}

.bgIllu_3 {
    grid-column-start: 8;
    grid-row-start: 8;
}

.bgIllu_4 {
    grid-column-start: 8;
    grid-row-start: 10;
}

.bgIllu_5 {
    grid-column-start: 9;
    grid-row-start: 9;
}

.bgIllu_6 {
    grid-column-start: 10;
    grid-row-start: 8;
}

.bgIllu_7 {
    grid-column-start: 11;
    grid-row-start: 7;
}

.bgIllu_8 {
    grid-column-start: 12;
    grid-row-start: 6;
}

.bgIllu_9 {
    grid-column-start: 10;
    grid-row-start: 10;
}

.bgIllu_10 {
    grid-column-start: 11;
    grid-row-start: 9;
}

.bgIllu_11 {
    grid-column-start: 12;
    grid-row-start: 8;
}

.bgIllu_12 {
    grid-column-start: 12;
    grid-row-start: 10;
}

/* Aesthetics test */
.bgIllu_13 {
    grid-column-start: 9;
    grid-row-start: 7;
}

.bgIllu_14 {
    grid-column-start: 10;
    grid-row-start: 6;
}

.bgIllu_15 {
    grid-column-start: 11;
    grid-row-start: 5;
}

.bgIllu_16 {
    grid-column-start: 12;
    grid-row-start: 4;
}

.bgIllu_17 {
    grid-column-start: 4;
    grid-row-start: 10;
}

.bgIllu_18 {
    grid-column-start: 5;
    grid-row-start: 9;
}

.bgIllu_19 {
    grid-column-start: 6;
    grid-row-start: 8;
}

.bgIllu_20 {
    grid-column-start: 7;
    grid-row-start: 7;
}

.bgIllu_21 {
    grid-column-start: 8;
    grid-row-start: 6;
}

.bgIllu_22 {
    grid-column-start: 9;
    grid-row-start: 5;
}

.bgIllu_23 {
    grid-column-start: 10;
    grid-row-start: 4;
}

.bgIllu_24 {
    grid-column-start: 11;
    grid-row-start: 3;
}

.bgIllu_25 {
    grid-column-start: 12;
    grid-row-start: 2;
}

.bgIllu_26 {
    grid-column-start: 2;
    grid-row-start: 10;
}

.bgIllu_27 {
    grid-column-start: 3;
    grid-row-start: 9;
}

.bgIllu_28 {
    grid-column-start: 4;
    grid-row-start: 8;
}

.bgIllu_29 {
    grid-column-start: 5;
    grid-row-start: 7;
}

.bgIllu_30 {
    grid-column-start: 6;
    grid-row-start: 6;
}

/* Responsiveness tweaks  */
@media screen and (max-width: 1200px) {
    /* n/a */
}

@media screen and (max-width: 800px) {
    .eventMainText {
        font-size: 7rem;
    }
}

@media screen and (max-width: 430px) {
    .eventMainContainer {
        row-gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .eventMainText {
        font-size: 3rem;
    }
    .eventMainMessage {
        font-size: 3rem;
    }
    .eventMainDescr {
        text-wrap: balance;
        font-size: 0.8rem;
    }
    .homeBtn {
        font-size: 1.2rem;
    }
}